<link rel="stylesheet" href="/css/style.css">
<h2>Sửa thông tin vé</h2>

<form action="/save" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="isEdit" value="true">
    <input type="hidden" name="oldImageUrl" value="<%= ticket.imageUrl %>">

    Mã vé (Không sửa): <input name="ticketId" value="<%= ticket.ticketId %>" readonly><br><br>
    Sự kiện: <input name="eventName" value="<%= ticket.eventName %>"><br><br>
    
    <button type="submit" class="btn btn-add">Cập nhật</button>
    <a href="/">Hủy</a>
</form>